body{
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-areas: 'nav nav nav nav'
                         'banner banner banner banner'
                         'intro intro intro intro'
                         'rss rss rss rss'
                         'feedback feedback feedback feedback'
                         'footer footer footer footer';
    grid-template-columns: 24.7vw 24.7vw 24.7vw 24.7vw;
    grid-template-rows: 1vh 80vh 50vh 55vh 60vh 20vh;
    margin: 0;
}

body section:nth-child(3){
    background: #ffffff;
    display: grid;
    grid-area: intro;
    grid-template-areas: 'firstside secondside thirdside';
}

body section:nth-child(3) > div{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body section:nth-child(3) > div > div{
    align-items: center;
    background-color: #2ccd70;
    border-radius: 100px;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 80px;
}

body section:nth-child(3) > div > div > img{
    height: 40px;
    width: 40px;
}

body section:nth-child(3) > div > h3{
    font-weight: lighter;
    margin: 15px 0px 8px 0;
}

body section:nth-child(3) > div > p{
    color: #a0a0a0;
    font-size: 10.5pt;
    text-align: center;
    width: 70%;
}

body section:nth-child(3) > div:nth-child(1){
    background-color: #ffffff;
    grid-area: firstside;
}

body section:nth-child(3) > div:nth-child(2){
    background-color: #ffffff;
    grid-area: secondside;
}

body section:nth-child(3) > div:nth-child(3){
    background-color: #ffffff;
    grid-area: thirdside;
}

body section:nth-child(4){
    background: #e3e3e3;
    display: grid;
    grid-area: rss;
    grid-template-areas: 'text video';
    grid-template-columns: 50vw 50vw;
}

body section:nth-child(4) > div:nth-child(1){
    display: flex;
    flex-direction: column;
    grid-area: text;
    justify-content: center;
    padding: 0 0 0 120px;
}

body section:nth-child(4) > div:nth-child(1) > div{
    display: flex;
}

body section:nth-child(4) > div:nth-child(1) > h3{
    font-weight: lighter;
    margin: 18px 0 10px 0;
}

body section:nth-child(4) > div:nth-child(1) > p{
    color: #949494;
    font-size: 11pt;
    width: 80%;
}

body section:nth-child(4) > div:nth-child(2){
    align-items: center;
    display: flex;
    grid-area: video;
    justify-content: center;
}

body section:nth-child(4) > div:nth-child(2) > img{
    border-radius: 10px;
}

body section:nth-child(5){
    align-items: center;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    grid-area: feedback;
    justify-content: center;
}

body section:nth-child(5) > h4:nth-child(2){
    margin: 0 0 10px 0;
}

body section:nth-child(5) > p:nth-child(1){
    color: #949494;
    font-style: italic;
    margin: 8px 0 16px 0;
    text-align: center;
    width: 65%;
}

body section:nth-child(5) > div:nth-child(3) > img{
    filter: opacity(50%);
    height: 45px;
    width: 45px;
}

body section:nth-child(5) > div:nth-child(3) > img:hover{
    cursor: pointer;
    filter: opacity(100%);
    height: 50px;
    width: 50px;
}

body section:nth-child(5) > h3:nth-child(4){
    font-weight: bolder;
    margin: 30px 0 0 0;
}

body section:nth-child(5) > p:nth-child(5){
    color: #949494;
    font-size: 11pt;
    font-weight: lighter;
    margin: 5px 0 35px 0;
}

body section:nth-child(5) > div:nth-child(6){
    display: flex;
}

body section:nth-child(5) > div:nth-child(6) > div{
    background-color: #d4d4d4;
    border-radius: 50%;
    margin: 0 2px 0 2px;
    height: 30px;
    width: 30px;
}

body section:nth-child(5) > div:nth-child(6) > div:hover{
    background-color: #2ccd70;
    cursor: pointer;
}

body section:nth-child(5) > div:nth-child(6) > div > img{
    height: 30px;
    width: 30px;
}

button[type=submit]{
    background-color: #2ccd70;
    border: none;
    border-radius: 0 15px 15px 0;
    color: white;
    cursor: pointer;
    font-size: 14pt;
    font-weight: bolder;
    height: 50px;
    width: 120px;
}

footer{
    align-items: center;
    background: #e3e3e3;
    display: flex;
    grid-area: footer;
    justify-content: center;
}

footer div{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

footer div p{
    color: #9a9a9a;
    cursor: pointer;
    font-size: 10.5pt;
}

h1{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 42pt;
    font-weight: normal;
}

header{
    background-image: url('imgs/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-area: banner;
    grid-template-areas: 'leftside rightside';
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

header > div:nth-child(1){
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    grid-area: leftside;
    justify-content: center;
}

header > div:nth-child(1) > div > p{
    color: white;
    font-size: 16pt;
    font-weight: 600; 
    line-height: 30px;
}

header > div:nth-child(1) > div:nth-child(1) > div:nth-child(3){
    display: flex;
}

header > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div:nth-child(2){
    margin: 0 7px 0 7px;
}

header > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    height: 45px;
    justify-content: center;
    width: 45px;
}

header > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div:hover{
    background-color: #2ccd70;
}

header > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div > img{
    filter: grayscale(75%);
    height: 20px;
    width: 20px;
}


header > div:nth-child(2){
    align-items: flex-end;
    display: flex;
    grid-area: rightside;
}

header > div:nth-child(2) > img{
    padding-left: 95px;
    width: 375px;
}

input[type=text]{
    border: none;
    border-radius: 15px 0 0 15px;
    height: 50px;
    padding: 0 0 0 20px;
}

nav{
    background-color: #2ccd70;
    grid-area: nav;
}

span{
    color: #2ccd70;
}
