body{
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-areas: 'nav nav nav nav'
                         'banner banner banner banner'
                         'intro intro intro intro'
                         'rss rss rss rss'
                         'feedback feedback feedback feedback'
                         'footer footer footer footer';
    grid-template-columns: 24.7vw 24.7vw 24.7vw 24.7vw;
    grid-template-rows: 1vh 80vh 50vh 55vh 60vh 20vh;
    margin: 0;
}

body section:nth-child(3){
    background: #ffffff;
    display: grid;
    grid-area: intro;
    grid-template-areas: 'firstside secondside thirdside';
}

body section:nth-child(3) > div{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body section:nth-child(3) > div > div{
    align-items: center;
    background-color: #2ccd70;
    border-radius: 100px;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 80px;
}

body section:nth-child(3) > div > p{
    text-align: center;
}

body section:nth-child(3) > div:nth-child(1){
    background-color: rosybrown;
    grid-area: firstside;
}

body section:nth-child(3) > div:nth-child(2){
    background-color: yellowgreen;
    grid-area: secondside;
}

body section:nth-child(3) > div:nth-child(3){
    background-color: red;
    grid-area: thirdside;
}

body section:nth-child(4){
    background: #e3e3e3;
    grid-area: rss;
}

body section:nth-child(5){
    background: #ffffff;
    grid-area: feedback;
}

footer{
    background: #e3e3e3;
    grid-area: footer;
}

h1{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 42pt;
    font-weight: normal;
}

.hand{
    padding-left: 95px;
    width: 375px;
}

header{
    background-image: url('imgs/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-area: banner;
    grid-template-areas: 'leftside rightside';
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.icons{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    height: 45px;
    justify-content: center;
    width: 45px;
}

.icons img{
    filter: grayscale(75%);
    height: 20px;
    width: 20px;
}

.icons:hover{
    background-color: #2ccd70;
}

.left-side{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    grid-area: leftside;
    justify-content: center;
}

.left-side div p{
    color: white;
    font-size: 16pt;
    font-weight: 600; 
    line-height: 30px;
}

nav{
    background: #2ccd70;
    grid-area: nav;
}

.platforms-icons{
    display: flex;
}

.platforms-icons div:nth-child(2){
    margin: 0 7px 0 7px;
}

.right-side{
    align-items: flex-end;
    display: flex;
    grid-area: rightside;
}

span{
    color: #2ccd70;
}