body{
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-areas: 'nav'
                         'banner'
                         'intro-theme'
                         'intro-design'
                         'intro-audience'
                         'rss'
                         'feedback'
                         'footer';
    grid-template-columns: 99.7vw;
    grid-template-rows: 3vh 90vh 50vh 50vh 50vh 60vh 100vh 20vh;
}

body section:nth-child(3){
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    grid-area: intro-theme;
    justify-content: center;
}

body section:nth-child(3) > div{
    align-items: center;
    background-color: #2ccd70;
    border-radius: 50%;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 80px;
}

body section:nth-child(3) > p{
    font-size: 10pt;
    text-align: center;
}

body section:nth-child(4){
    align-items: center;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    grid-area: intro-design;
    justify-content: center;
}

body section:nth-child(4) > div{
    align-items: center;
    background-color: #2ccd70;
    border-radius: 50%;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 80px;
}

body section:nth-child(4) > p{
    font-size: 10pt;
    text-align: center;
}

body section:nth-child(5){
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    grid-area: intro-audience;
    justify-content: center;
}

body section:nth-child(5) > div{
    align-items: center;
    background-color: #2ccd70;
    border-radius: 50%;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 80px;
}

body section:nth-child(5) > p{
    font-size: 10pt;
    text-align: center;
}

body section:nth-child(6){
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    grid-area: rss;
    justify-content: center;
    padding: 0 0 0 20px;
}

body section:nth-child(6) > div{
    display: flex;
    margin: 10px 0 0 0;
}

body section:nth-child(6) > p{
    font-size: 9.5pt;
}

body section:nth-child(7){
    background-color: slategray;
    grid-area: feedback;
}

button[type=submit]{
    background-color: #2ccd70;
    border: none;
    border-radius: 0 15px 15px 0;
    color: white;
    cursor: pointer;
    font-size: 14pt;
    font-weight: bolder;
    height: 30px;
    width: 120px;
}

footer{
    background-color: yellowgreen;
    grid-area: footer;
}

h1{
    color: white;
    flex-direction: column;
    font-family: 'Pacifico', cursive;
    font-size: 38pt;
    font-weight: normal;
    justify-content: center;
}

header{
    background-image: url('imgs/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: banner;
}

header > div:nth-child(3){
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 45%;
    height: 35px;
}

header > div:nth-child(3):hover{
    background-color: #2ccd70;
}

header div h3{
    color: white;
    font-size: 11pt;
    font-weight: lighter;
    text-align: center;
}

header p{
    color: white;
    font-size: 12pt;
    font-weight: lighter; 
    line-height: 20px;
}

header > div:nth-child(1), header p{
    padding: 0 0 0 10%;
}

header > div:nth-child(3){
    margin: 0 0 0 10%;
}

input[type=text]{
    border: none;
    border-radius: 15px 0 0 15px;
    height: 30px;
    padding: 0 0 0 20px;
    width: 45%;
}

nav{
    background-color: #2ccd70;
    grid-area: nav;
}

span{
    color: #2ccd70;
}
